.featured-rooms{
    padding: 2rem 0rem;
    background: #fff;
    text-align: center;
}

.featured-room-center{
    display: flex;
    align-items: center;
}

@media screen and (max-width:650px){
    .featured-room-center{
        flex-direction: column;
        margin-bottom:20px
    }
}