.empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: var(--mainSpacing);
  }

  .rooms-list{
    text-align:center;
    padding-top: 20px;
  }

  .roomlist-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }